body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  box-sizing: border-box;
  background-color: #df202e;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 10;
}

nav li {
  list-style: none;
  font-weight: 500;
  color: white;
  font-size: small;
  display: flex;
  align-items: center;
}

.nav-menu li {
  position: relative;
}

.nav-menu-login {
  color: white;
  cursor: pointer;
  padding: 15px 15px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.nav-menu li:hover .nav-menu-item,
.nav-menu-login:hover {
  color: rgb(13, 106, 198);
  border-bottom: 3px solid rgb(13, 106, 198);
  cursor: pointer;
}

.nav-menu-item {
  padding: 20px 15px;
  text-decoration: none;
  border-bottom: 3px solid transparent; /* Invisible border initially */
}

.nav-menu-login {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-left {
  margin-right: 60px;
}

.nav-right {
  margin-left: auto;
}

/* Header info */
.background-cover {
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://indorelawan-production.nos.wjv-1.neo.id/images/home-page/banner-image-2.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
}

.text-overlay h1 {
  margin: 0;
  font-size: 40px;
}
.text-overlay p {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 25px;
}

.text-overlay div button {
  padding: 13px 30px;
  font-size: 16px;
}

/* Service */

.service {
  display: flex;
  background-color: #fff;
  padding: 50px 15px;
  justify-content: center;
}

.left-service {
  padding: 50px 15px;
}
.left-service-card {
  color: white;
  width: 250px;
  max-height: 450px;
  background-color: #df202e;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.left-service-card h1 {
  font-size: xx-large;
  margin: 28px 0;
}
.left-service-card p {
  font-size: 22px;
  margin: 26px 0;
}
.left-service-card button {
  border: none;
  border-radius: 5px;
  padding: 10px 8px;
  width: 100%;
  background-color: white;
  color: #df202e;
  font-weight: 600;
}

.right-service {
  padding: 50px 15px;
}
.right-service h2 {
  color: #4c4c4c;
}

.service-cards {
  display: flex;
  gap: 20px;
}

.service-card {
  max-width: 167px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 2px #4c4c4c;
}

.service-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 18px 3px;
}

.service-description span {
  font-weight: 500;
}
.service-description p {
  font-weight: 600;
  color: #a7a4a4;
}

.service-button button {
  background-color: #df202e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

/* Dampak Relawan */
.dampak-relawan {
  display: flex;
  justify-content: center;
  padding: 20px 60px;
}

.dampak-container {
  width: 100%;
  background-image: url("http://indorelawan-production.nos.wjv-1.neo.id/images/home-page/icon-pattern.jpeg");
}

.dampak-judul {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.dampak-title {
  padding-top: 15px;
  margin: 0;
  font-size: 35px;
}

.jumlah-relawan {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
}

.dampak-cards {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

.dampak-card {
  max-width: 350px;
  padding: 18px;
  background-color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
}

.jenis-dampak {
  color: #ed7465;
  font-weight: 600;
}

.jumlah {
  font-size: 30px;
  margin-right: 6px;
}

/* Footer */

footer {
  background-color: #efefef;
  padding: 30px 80px;
}

.footer-content {
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.left-footer-content,
.center-footer-content,
.right-footer-content {
  max-width: 350px;
}

.left-footer-content p {
  line-height: 25px;
}

.right-footer-content {
  margin-left: 25px;
}

.red-text {
  color: #df202e;
}

.support-image img {
  width: 120px;
}
